.tab {
  /* background-color: aqua; */
  height: 300px;
  width: 300px;
  /* border: 1px solid bisque; */
  padding: 15px;
  border-radius: 5px;
  background-color: #a2a2a2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: block;
  margin: 10px;
  text-align: center;
  
}
.tab:hover{
  box-shadow: 1px 1px 30px -10px #ffe5bd;
}
.tab .header {
  background-color: #a2a2a2;
  color: #293d4e;
}
.tab .info p {
  font-size: 13px;
  padding: 5px;
  background-color: #a2a2a2;
  color: #293d4e;

}
.tab .imag {
  display: flex;
  justify-content: center;
  background-color: #a2a2a2;
}
.tab .imag img {
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 30px -1px #293d4eb6;
  /* margin-left: 15px; */
  width: 250px;
  /* background-color: antiquewhite; */
}
@media (max-width: 680px) {
  .tab {
    /* background-color: aqua; */
    height: 200px;
    width: 200px;
    /* border: 1px solid bisque; */
    padding: 15px;
    border-radius: 5px;
    background-color: #a2a2a2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: block;
    margin: 10px;
    text-align: center;
    
  }
  .tab .imag img {
    margin-left: 5px;
    width: 150px;
    /* background-color: antiquewhite; */
  }

}
